.ContainerItem {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding-left: 120px;
  padding-right: 20px;
  padding-top: 80px;
  font: var(--font-n)

}
.ContainerItem h1{
  font: var(--font-l);
  background-color: black;
  color: white;
  font-weight: 300;
  padding: 10px 30px 10px 10px;

}

.PurchaseContainer {
  display: flex;
  justify-content: space-between;
}

.CharacteristicContainer {
  display: flex;
  max-width: 500px;
  flex-direction: column;
}

.StructureContainer {
  display: flex;
  max-width: 500px;
  flex-direction: column;
}


.InnerInfoContainer {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  text-align: end;
}


.InnerInfoContainer div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Order {
  background-color: white !important;
  color: black !important;
}

.ImgContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}


.ImgItem {
  text-align: center;
}


.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.Panel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.ButtonContainer {
  display: flex;
  margin: 40px 0;
}

.buttonControl {
  margin-left: 30px !important;
  font-size: 30px !important;
}
.buttonControl:first-child {
  margin-left: 0 !important;
  font-size: 30px !important;
}








@media (max-width: 1400px) {
  .PurchaseContainer {
    flex-direction: column;
    padding: 10px;

  }
  #img1 {
    width: 100%;
  }
  #img2 {
    display: none;
  }

  .buttonControl {
    align-self: center;
    margin-top: 20px!important;
    padding: 10px !important;
    max-width: 240px;
    width: 100%;
    margin-left: 0 !important;
  }

  .ContainerItem {
    align-items: center;
   padding: 80px 20px;

  }

  .ButtonContainer {
    flex-direction: column;

  }
  .buttonPurchase {
    padding: 20px !important;
  }

  .ImgContainer {
    display: block;

  }
  .Panel {
    align-items: center;
    margin: 0;
  }

  .ContainerItem h1{
    font-size: 15px;
    font-weight: 300;
    padding: 10px;

  }


  .CharacteristicContainer {
    align-self: stretch;
    max-width: 100%;
  }

  .StructureContainer {
    align-self: stretch;
    max-width: 100%;
  }

  .InnerInfoContainer {
    align-self: stretch;
    max-width: 100%;
  }
}



