.ListItemContainer {
   font: var(--font-n);
  &:hover {
    transition: all 0.3s linear;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #7f7f7f;
  }
}

.ListItemContainer img {
  max-width: 90%;
  align-self: center;
}

.ListItemContainer div {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}
