.Container_MobileBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  height: 0;
  background-color: #7f7f7f;
}

.open {
  pointer-events: auto;
  opacity: 0.6;
  height: 300px;
  transition: all 0.3s linear;
}