.Container_MobileBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  height: 0;
  background-color: white;
  padding: 80px 10px 10px 10px;
  overflow-y: scroll;
  overflow-x:hidden ;
  align-items: stretch;
  z-index: 10;
}

.Container_MobileBar hr {
  border: 1px solid #EEEEEE;
  width: 100%;
}

.open {
  pointer-events: auto;
  opacity: 1;
  height: 100%;
  transition: all 0.3s linear;
}

.Container_MobileBar::-webkit-scrollbar {
  display: none;

}

.Inner_Container {
  overflow: hidden;
}

.close {
  height: 0;
  transition: all 0.3s linear;
}
