.ContainerInput {
  display: flex;
  flex-direction: column;
}

.PlaceContainer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.InputCustom {
  position: relative;


}

.modalInput {
 input {
   padding: 10px 100px 10px 20px;
   border: 1px solid gray;
 }

  span {
    color: green;
  }
}



