.ContainerInput {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  span {
    color: green;
  }

}

.PlaceContainer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.InputCustom {
  position: relative;
  margin: 0;
  outline:none

}

.modalInput {
   padding: 10px 100px 10px 20px;
   border: 1px solid gray;

}

.resetInput {
  border: none;
  background-color: transparent;
}

.resetInput:hover:focus {
  border: none;

}

.CommentInput {
  border : 1px solid black;
  padding: 20px;
}



