.LoginContainer {
  padding: 10px;
}

.LoginC hr {
  border: 2px solid black
}

.OrderContainer {
  position: relative;
}

.close {
  top: -13px;
}



.InputsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 110px;
  p {
    align-self: center;
  }
  a {
    color: green;
  }
  h1{
    align-self: center;
    font-size: 30px;
    color: red;
  }


}

.BottanLogin {
  align-self: center;
  margin-top: 20px;
}

.InputLogin {
  margin-top: 15px;
}

.checkboxContainer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  p {
    margin: 0;
    align-self: end;
  }

}
.error {
  font-size: 15px !important;
  color : red;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 0 20px;
  span {
    color: green;
  }

}

.PlaceContainer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}


@media (max-width: 800px) {
  .InputsContainer {
    padding: 0 !important;
    align-items: center;
  }

  .close {
    display: none;
  }

  .LoginC {
    padding: 10px 0;
  }
  .InputContainer{
    padding: 0 !important;
    width: 80%;
  }

  .OrderContainer {
    text-align: center;
  }

}
